@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

h1,
p {
  text-align: center;
  padding: 0.8rem 1.6rem;
}

h1 {
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(216, 15%, 48%);
}

/* .container {
  margin-top: 13rem;
  min-width: 16rem;
  max-width: 18.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.2rem;
  margin-inline: auto;
  padding: 1em; 
} */

.container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin-top: 13rem;
  margin-inline: auto;
  min-width: 16rem;
  max-width: 18.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.2rem;
  padding: 1em;
}

.code-bg {
  flex-shrink: 0; /* Prevent image from shrinking too much */
}

/* Media query for smaller screens (adjust breakpoint as needed) */
@media (max-width: 768px) {
  .container {
    padding: 0.5em; /* Adjust padding for better fit on mobile */
  }
}
